:root {
  --fondo: #050b23;
  --texto: #d8e2ff;

  --primario: #8da4ff;
  --border: #1c3d73;
  --hover-border: #cf8bf7;

  --header-bg: rgb(5, 12, 40, 0.85);
  --nav-link: blueviolet;
  --nav-hover: aqua;

  --consejos-bg: #1c3d73;
  --etiqueta-bg: blueviolet;

  --targeta-bg: #00eaff;
  --target-bg: #95a0d6;
  --lista-bg: #8da4ff;
  --form-bg: #63bfe4;

  --footer-opacity: 0.5;
}

html.light {
  --fondo: #caccd4;
  --texto: #1a1a1a;

  --primario: #3d5afe;
  --border: #757de8;
  --hover-border: #536dfe;

  --header-bg: #ffffffcc;
  --nav-link: #5a35ff;
  --nav-hover: #0099ff;
  --consejos-bg: #5c6bc0;
  --etiqueta-bg: #7c4dff;

  --targeta-bg: #8be7ff;
  --target-bg: #c3c9ff;

  --lista-bg: #dbe2ff;
  --form-bg: #b5d9ff;

  --footer-opacity: 0.8;
}

body {
  background-color: var(--fondo);
  color: var(--texto);
  transition: background 0.3s ease, color 0.3s ease;
}
header {
  background-color: var(--header-bg);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.tema_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tema_logo img {
  width: 35px;
  filter: drop-shadow(0 0 10px #0ff);
  -webkit-filter: drop-shadow(0 0 10px #0ff);
}

.tema_logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: var(--nav-link);
  font-size: 1rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: var(--nav-hover);
}

.seccion-pricipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  gap: 3rem;
}

.consejos {
  background-color: var(--consejos-bg);
  padding: 0.9rem 2rem;
  border-radius: 12px;
  color: var(--texto);
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.contenedor_izquierdo {
  flex: 1;
}
.etiqueta {
  display: inline-block;
  background-color: var(--etiqueta-bg);
  padding: 6px 14px;
  border-radius: 20px;
  color: aliceblue;
}
.estadisticas {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
  color: #0099ff;

}

.estadisticas h3 {
  font-size: 2.2rem;
  background-color: linear-gradient(90deg, #3cd5ff, #8da4ff);
  color: black;
  font-weight: 800;
  background-color: #0099ff;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

.estadisticas p {
  margin-top: -10px;
  font-weight: 500;
}

.contenedor-derecho {
  flex: 1;
  display: flex;
  justify-content: center;
}

.targeta {
background-color: var(--targeta-bg);
  padding: 3rem;
  border-radius: 20px;
  border: 1px solid #153b70;
  box-shadow: 0 0 30px rgba(50, 120, 200, 0.4);
}

.targeta img {
  width: 150px;
  filter: drop-shadow(0 0 25 #00eaff);
  -webkit-filter: drop-shadow(0 0 25 #00eaff);
}
.targeta:hover {
  transition: scale(1.15) rotate(3deg);
  filter: drop-shadow(0 0 50px #00eaff);
  transition: 0.3s ease;
}

.seccion {
  text-align: center;
  padding: 5rem 2rem;
}
.targetas {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.target {
  background-color: var(--target-bg);
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #1c3d73;
  transition: 0.3s;
}

.target:hover {
  border-color: #3cd5ff;
  box-shadow: 0 0 90px #3cd5ff;
}
.lista {
  padding: 1rem 1.5rem;
  margin: 0.7rem 0;
  border: 1px solid #1c3d73;
  border-radius: 12px;
  background-color: var(--lista-bg);
  color: black;
  font-size: 1rem;
  list-style: none;
  box-shadow: 0 0 10px;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.lista:hover {
  border-color: #cf8bf7;
  box-shadow: 0 0 20px #cf8bf7;
  transform: translateX(5px);
}

form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea {
  background: var(--form-bg);
  border: 1px solid #153b70;
  padding: 1rem;
  border-radius: 12px;
  color: antiquewhite;
}

footer {
  text-align: center;
  padding: 2rem;
  opacity: 0.5;
}
