:root {
  background-color:#0d1438;
}

header {
 background-color: rgb(5, 12, 40,0.85);
 padding: 1rem 3rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid rgb(255, 255, 255, 0.05);
 position: sticky;
 top: 0;
 z-index: 100;
}

.tema_logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.tema_logo img {
  width: 35px;
  filter: drop-shadow(0 0 10px #0ff);
  -webkit-filter: drop-shadow(0 0 10px #0ff);
}

.tema_logo span{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-menu a{
  text-decoration: none;
  color: blueviolet;
  font-size: 1rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: aqua;
}

.seccion-pricipal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  gap: 3rem;
}
.contenedor_izquierdo{
  flex: 1;
}
.etiqueta{
  display: inline-block;
  background-color: blueviolet;
  padding: 6px 14px;
  border-radius: 20px;
  color: aliceblue;
}
.estadisticas{
  margin-top:2rem ;
  display: flex;
  gap: 3px;
}

.estadisticas h3{
  font-size: 2rem;
  background-color:linear-gradient(90deg, #3cd5ff,#8da4ff);
  color: black;
}
.contenedor-derecho{
  flex: 1;
  display: flex;
  justify-content: center;
}

.targeta{
  background: #0c112e;
  padding: 3rem;
  border-radius: 20px;
  border: 1px solid #153b70;
  box-shadow: 0 0 30px rgba(50,120,200,0.4);
}

.targeta img{
  width: 150px;
  filter: drop-shadow(0 0 25 #00eaff);
  -webkit-filter: drop-shadow(0 0 25 #00eaff);
}

.seccion{
  text-align: center;
  padding: 5rem 2rem;
}
.targetas{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 2rem;

}

.target{
  background-color: #0d1438;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #1c3d73;
  transition: 0.3s;
}

.target:hover {
  border-color: #3cd5ff;
  box-shadow: 0 0 20 px #3cd5ff;
}

.lista{



}


